**********************************************************************************
*                                                                                *
* DRILL TAPE SUMMARY REPORT                                                      *
*                                                                                *
* C:\DOCUMENTS AND SETTINGS\ANNA\DESKTOP\H34MOTE\H34MOTE\COPY OF H34MOTE-11.MAX  *
* Mon Jul 03 16:25:52 2006                                                       *
*                                                                                *
**********************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       100      81       200      100                                                                                 
T2       420      9        200      100                                                                                 
T3       472      4        200      100                                                                                 
T4       1250     2        200      100                                                                                 
